<div class="page-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url('<%= cl_image_path(@flat.photo.key) %>'); max-width:100%; max-height:100%; background-size: cover;">
    <div class="banner-container">
    <div class="">
      <%= link_to :back , class: "text-white" do%>
        <i class="fa-solid fa-arrow-left"></i> Back
      <% end %>
    </div>
      <div>
        <h1>Flat in
          <%= @flat.city %>, <%= @flat.flat_location %></h1>
        <p><%= @flat.address %></p>
      </div>
    </div>
  </div>

  <div class="info-container px-5 py-3 mb-3 mx-5">
    <%# style="display: flex; flex-wrap: wrap;"> %>
    <div class="row justify-content-center px-3">
      <div class=" col-7">

        <div class="apartment-info">
          <br>
          <h2 class="gray">
            <i class="fa-solid fa-house text-d"></i>  50m<sup>2</sup> &nbsp | &nbsp
            <i class="fa-solid fa-user"></i>  3-4 &nbsp | &nbsp
            <i class="fa-solid fa-bed"></i>  2 &nbsp | &nbsp
            <i class="fa-solid fa-restroom"></i>  1.5 &nbsp | &nbsp
            <i class="fa-sharp fa-solid fa-door-closed"></i>  Self check-in
          </h2>
          <br>
          <br>
          <h3>€<%= @flat.price %> / night</h3>
          <p><%= @flat.description %></p>
          <br>
          <br>
          <br>
          <h4>Rental unit hosted by <%= @flat.user.first_name %></h4>
        </div>

        <div
          class="my-5 border p-5"
          style="width: 780px; height: 60vh;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        >
        </div>

        <% if @flat.reviews.present? %>
          <h4>Reviews</h4>
        <% end %>

        <div class="reviews">
          <% @flat.reviews.each do |review| %>
            <div class="review">
              <p>
                Rating:
                <%= review.rating %>
                &#9733;</p>
              <p>Title:
                <%= review.title %></p>
              <p>Description:
                <%= review.description %></p>
            </div>
          <% end %>
        </div>

      </div>

      <div class="col-4 ms-5">
        <div class="booking-form">
          <%= render "shared/newbooking", flat: @flat, booking: Booking.new %>
        </div>
      </div>

    </div>
  </div>
</div>
