<div class="page-container">
  <div
    class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@flat.photo.key) %>')"
  >
    <div class="banner-container">
      <h1>Flat in
        <%= @flat.city %>,<%= @flat.flat_location %></h1>
      <p><%= @flat.address %></p>
    </div>
  </div>

  <div class="info-container px-5 py-3 mb-3 mx-5">
   <%# style="display: flex; flex-wrap: wrap;"> %>
    <div class="row justify-content-center px-3">
      <div class="booking-info col-7">

        <div class="apartment-info">

            <h2>€<%= @flat.price %> / night</h2>
            <br>
            <h4>
              <i class="fa-solid fa-house"></i>  50m<sup>2</sup> |
              <i class="fa-solid fa-user"></i>  3-4 |
              <i class="fa-solid fa-bed"></i>  2 |
              <i class="fa-solid fa-restroom"></i>  1.5 |
              <i class="fa-sharp fa-solid fa-door-closed"></i>  Self check-in
            </h4>
            <br>
            <h4>Rental unit hosted by <%= @flat.user.first_name %></h4>
          <br>
        </div>
          <p><%= @flat.description %></p>

        <div class="m-3 border p-5">
          MORE PICTURESSS
        </div>

        <h1>Reviews</h1>

        <div class="reviews">
          <% @flat.reviews.each do |review| %>
            <div class="review">
              <p><%= review.rating %>
                stars</p>
              <p><%= review.title %></p>
              <p><%= review.description %></p>
            </div>
          <% end %>
        </div>

      </div>

      <div class="booking-form col-4 ms-5">
        <%= render "shared/new", flat: @flat, booking: Booking.new %>
      </div>

    </div>

    <%= @flat.user.email  %>
    <% if policy(@flat).edit? %>
      <%= link_to "Edit", edit_flat_path(@flat) %>
    <% end %>

    <% if policy(@flat).destroy? %>
      <%= link_to "Delete",
        flat_path(@flat),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% end %>
  </div>
</div>

<% if @booking.present? %>
  <% if @booking.review.nil? %>
    <%= render "reviews/new", booking: @booking %>
  <% end %>
<% end %>
