  <%= simple_form_for @booking, :html=> { class: 'form-group p-5' } do |f| %>
    <h1 class="text-black">Edit</h1>
    <%= f.input :start_date, label: "Check-in date", input_html: { class: 'form-control mb-4' } %>
    <%= f.input :end_date, label: "Check-out date", input_html: { class: 'form-control mb-4' } %>
    <%# <%= image_tag f.object.img.url if f.object.image.present? %>
  <%= f.submit %>
<% end %>
