<% if @bookings == [] %>
  <div class="mt-5 p-4 text-black">
    <h1 class="text-black text-center">No bookings yet...</h1>
    <br>
    <div class="text-center mb-5">
      <h1><%= link_to flats_path, class: "btn btn-primary btn-flat rounded-5" do %>
        <i class="fa-solid fa-plus"></i>  Book a flat!
      <% end %></h1>
    </div>
  </div>
<% else %>

  <div class="mt-5 p-4 text-black">
    <h1 class="text-black text-center">My Bookings</h1>
  </div>


  <div class="d-flex justify-content-center m-4">
    <div class="flats-container">
      <% @bookings.each do |booking| %>
        <div class="col">
          <div class="card h-100">
            <% if booking.flat.photo.key %>
              <img src="<%= cl_image_path(booking.flat.photo.key)%>" class="card-img-top" alt="<%= booking.flat.city %>">
            <% else %>
              <img src="https://via.placeholder.com/300x200.png?text=No+Image" class="card-img-top" alt="<%= booking.flat.city %>">
            <% end %>
            <div class="card-body">
              <h4>From <strong><%= booking.start_date %></strong> </h4>
              <h4>To <strong><%= booking.end_date %></strong></h4>
              <h5 class="card-title"><%= booking.flat.address %></h5>
              <h5 class="card-title"><%= booking.flat.city %></h5>
              <p class="card-text">Hosted by: <%= booking.flat.user.first_name %></p>
              <p class="card-text"><%= number_to_currency(booking.flat.price, unit: "€", precision: 0) %> / night</p>
              <a href="<%= flat_path(booking.flat) %>" class="btn btn-secondary">View flat details</a>
              <a href="<%= edit_booking_path(booking) %>" class="btn btn-secondary">Edit Dates</a>
              <%= link_to "Cancel Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?", class: "btn btn-secondary"} %>
              <%= link_to "Add a review", new_booking_review_path(booking), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<!-- <%#
<div class=" container p-5">
  <h1 class="text-black">My bookings</h1>

  <div class="d-flex justify-content-between">
    <div class="w-50">
      <ul class="list-group">
        <% sum = 0 %>
        <% nights = 0 %>
        <% @bookings.each do |booking| %>
          <li class="list-group-item align-items-center my-2">
            <div class="">
              <strong><%= booking.flat.address %></strong>
              <%= booking.flat.city %>
              <%= booking.flat.flat_location %>
              <br>
              From <%= booking.start_date %> to <%= booking.end_date %>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="p-2">
                <%= link_to booking_path(booking) do %>
                  <span class="badge badge-primary badge-pill text-black">View details</span>
                <% end %>
              </div>
              <div>
                <span class="badge badge-primary badge-pill text-black bg-info"><%= (booking.end_date.to_date - booking.start_date.to_date).to_i %> nights </span>
              </div>
              <div >
                <span class="badge badge-primary badge-pill text-black border"><%= booking.flat.price %>€</span>
              </div>
            </div>
            <% nights += (booking.end_date.to_date - booking.start_date.to_date).to_i %>
            <% sum += booking.flat.price %>
          </li>
        <% end %>
      </ul>
    </div>
    <div style="width: 400px; height: 60vh; position: sticky; top: 36px">
      <strong>Summary</strong>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        Total nights
          <span class="badge badge-primary badge-pill text-black"><%= nights %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center bg-info">
        <strong>Total</strong>
          <span class="badge badge-primary badge-pill text-black border"><%= sum %>€</span>
        </li>
      </ul>
    </div>
  </div>
</div>
#%> -->
