<div class="flats-container">
  <% @flats.each do |flat| %>
    <div class="col">
      <div class="card h-100">
        <% if flat.photo.key %>
          <img src="<%= cl_image_path(flat.photo.key)%>" class="card-img-top" alt="<%= flat.city %>">
        <% else %>
          <img src="https://via.placeholder.com/300x200.png?text=No+Image" class="card-img-top" alt="<%= flat.city %>">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= flat.city %></h5>
          <p class="card-text">Host: <%= flat.user.first_name %></p>
          <p class="card-text"><%= number_to_currency(flat.price, unit: "€", precision: 0) %> / night</p>
          <a href="<%= flat_path(flat) %>" class="btn btn-secondary">View details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>


  <%# <% if flat.photo.key  %>
      <%# <%= cl_image_tag flat.photo.key, height: 300, width: 400, crop: :fill %>
    <%# <% end %>
