<!DOCTYPE html>
<html>
  <head>
    <title>Flats Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'flatspage' %>
    <%# <%= javascript_include_tag 'flatspage' %>
  </head>
  <body>
    <header>
      <h1>Flats Page</h1>
    </header>
    <main>
      <div class="flats-container">
        <% @flats.each do |flat| %>
          <div class="flat">
            <img src="<%= flat.image_url %>">
            <h2><%= flat.#{city}#{country} %></h2>
            <p><%= flat.adress %></p>
            <p><%= flat.price %></p>
          </div>
        <% end %>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Tabinav</p>
    </footer>
  </body>
</html>
