<div class="flats-container">
  <% @flats.each do |flat| %>
      <div class="card h-100 rounded-4 overflow-hidden">
        <% if flat.photo.key %>
          <img src="<%= cl_image_path(flat.photo.key)%>" class="card-img-top" alt="<%= flat.city %>">
        <% else %>
          <img src="https://via.placeholder.com/300x200.png?text=No+Image" class="card-img-top" alt="<%= flat.city %>">
        <% end %>
        <div class="card-body">
          <h3 class="card-title text-black font-weight-bold"><%= flat.city %></h3>
          <p class="card-text"> <%= flat.address %></p>
          <br>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <a href="<%= flat_path(flat) %>" class="btn btn-secondary rounded-pill">View details</a>
            </div>
            <div>
              <p class="card-text text-black"><%= number_to_currency(flat.price, unit: "€", precision: 0) %> / night</p>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>


  <%# <% if flat.photo.key  %>
      <%# <%= cl_image_tag flat.photo.key, height: 300, width: 400, crop: :fill %>
    <%# <% end %>
