<div class="flats-container">
  <% @flats.each do |flat| %>
  <a href="<%= flat_path(flat) %>" class="flat">
      <% if flat.photo.key  %>
      <img src="<%= cl_image_path(flat.photo.key)%>">
    <% end %>
      <h2><%= flat.city %></h2>
      <p><%= flat.user.first_name %></p>
      <p> €<%= flat.price.to_i %></p>
    </a>
  <% end %>
</div>


  <%# <% if flat.photo.key  %>
      <%# <%= cl_image_tag flat.photo.key, height: 300, width: 400, crop: :fill %>
    <%# <% end %>
