<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="/">
        <%= image_tag('logo_tabinav.png') %>
      </a>
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flats">Listings</a>
          </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item active align-item-center">
                <a class="nav-link" href="#">Welcome, <%= current_user.first_name.capitalize %></a>
              </li>
              <li class="nav-item active">
                <%= link_to "Edit profile", edit_user_registration_path, class:"nav-link nav-link btn btn-secondary btn-flat mx-2 rounded-5 text-white" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link btn btn-primary btn-flat mx-2 rounded-5 text-white" %>
              </li>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <% else %>
              <li class="nav-item active">
                <%= link_to "Log in", user_session_path, class:"nav-link btn btn-primary btn-flat mx-2 rounded-5 text-white" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Sign up", new_user_registration_path, class:"nav-link btn btn-secondary mx-2 rounded-5 text-white" %>
              </li>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
